@{
    ViewData["Title"] = "Events";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row text-center" style="margin-top:150px">
    <div class="col-md-12">
        <h1>Coming Soon</h1>
    </div>
</div>